@import "../index.scss";

.container-header {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    width: 10rem;
    height: 3rem;
  }
  .header-menu {
    color: white;
    gap: 1rem;
    display: flex;
    align-items: center;

    & > div {
      cursor: pointer;
    }
    & > div:hover {
      color: $orange;
      cursor: pointer;
    }
  }
}
@media (max-width: 768px) {
  .container-header {
    .logo-container {
      background-color: red;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 400;
      width: 100%;
      img {
        padding: 0.2rem;
        // margin: 2rem;
      }
    }
    .header-menu {
      position: fixed;
      z-index: 300;
      background-color: $gray;
      left: 50%;
      top: 0;
      transform: translate(-50%, 0);
      display: flex;
      flex-direction: column;
      width: 50vw;
      height: 50vh;
      justify-content: center;
      border-radius: 0px 0 10px 10px;
    }
  }
}
