@import "../index.scss";
* {
    font-family: "Inter", sans-serif;
    color: white;
}

.hero-container {
    display: grid;
    justify-content: center;
    min-height: 100vh;
    .hero-left {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        margin-bottom: 2rem;
        margin-top: 55px;

        .the-best-ad {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #393d42;
            width: fit-content;
            padding: 20px 13px;
            border-radius: 50px;
            margin: auto;
            color: white;
            text-transform: uppercase;
            & > div {
                position: absolute;
                background-color: $orange;
                width: 5.4rem;
                height: 80%;
                border-radius: 50px;
                left: 8px;
            }
            & > span {
                z-index: 100;
                font-size: 0.9rem;
            }
        }
        .stroke-text-container {
            text-align: center;
            font-size: calc((7000vw / 1920) * 2);
            font-family: "Inter", sans-serif;
            font-weight: 700;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            & > div {
                z-index: 100;
                font-size: calc((7000vw / 1920) * 2);
                height: calc((7000vw / 1920) * 2);
                display: flex;
                align-items: center;
            }
        }
        .hero-text {
            text-align: center;
            z-index: 200;
        }
        .figures {
            display: grid;
            gap: 0.7rem;
            grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
        }
        .figures > div {
            display: grid;

            & :nth-child(1) {
                font-size: 1.5rem;
                font-weight: 400;
            }
            & :nth-child(2) {
                color: $gray;
            }
        }
        .button-hero {
            display: grid;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
            button {
                width: 100%;
            }
        }
    }
    .hero-right {
        position: relative;
        display: grid;
        .container-image {
            padding: 2rem;

            display: flex;
            justify-content: flex-start;
            align-items: center;
            .hero-image {
                position: relative;
                max-width: 16rem;
                z-index: 100;
                left: 5.5rem;
                top: 2rem;
            }
            .hero-image-back {
                position: absolute;
                width: 16rem;
                left: 3rem;
            }
        }
        .heart-container {
            position: absolute;
            background-color: $darkGrey;
            width: fit-content;
            border-radius: 10px;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1em;
            top: -27rem;
            left: 1rem;
            img {
                width: 2rem;
            }
            span:nth-child(2) {
                color: gray;
            }
            span:nth-child(3) {
                font-size: 1.4rem;
            }
        }
        .calories-container {
            display: flex;
            position: absolute;
            background-color: $caloryCard;
            width: fit-content;
            border-radius: 10px;
            padding: 1rem;
            gap: 2rem;
            margin-top: 3rem;
            margin: 1rem;
            height: fit-content;
            right: 0;
            bottom: -2rem;
            z-index: 100;
            img {
                width: fit-content;
            }
            div:nth-child(2) {
                display: flex;
                flex-direction: column;
                span:nth-child(1) {
                    color: $gray;
                }
                span:nth-child(2) {
                    font-size: 1.5rem;
                }
            }
        }
    }
}
.slideInFromRight {
    // animation: slideIn 1s ease-in-out forwards;
    // transform: translateX(100%);
}
// @keyframes slideIn {
//     0% {
//         opacity: 0;
//         transform: translateX(100%);
//     }
//     100% {
//         opacity: 1;
//         transform: translateX(0%);
//     }
// }
@media (max-width: 480px) {
    .hero-container {
        .hero-right {
            display: grid;
            grid-template-columns: 1fr;
            .calories-container {
                align-items: center;
                position: relative;
                margin: auto;
            }
        }
    }
}
@media (min-width: 768px) {
    .hero-container {
        grid-template-columns: 80% 20%;

        .hero-left {
            position: relative;
            margin-bottom: 4rem;
            margin-top: 0;
            gap: 2rem;
            .the-best-ad {
                margin: 0;
            }
            .hero-text {
                span:nth-child(2) {
                    display: flex;
                    padding-right: 15rem;
                }
            }
            .stroke-text-container {
                text-align: start;
                font-size: calc(6000vw / 1920);
                margin-top: 0;
                margin-bottom: 0;
                align-items: start;
            }
            .figures {
                display: flex;
            }
            .button-hero {
                width: 25rem;
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
            .hero-text {
                text-align: start;
                & > h1 {
                    margin: 1rem 0;
                }
            }
        }
        .hero-right {
            background-color: $orange;

            .container-image {
                right: 0;
                position: relative;
                .hero-image {
                    position: absolute;
                    z-index: 100;
                    max-width: 25rem;
                    width: 200%;
                    left: -16rem;
                    top: 10rem;
                }
                .hero-image-back {
                    top: 1rem;
                    left: -20.5rem;
                    max-width: 18rem;
                    width: 140%;
                }
            }
            .heart-container {
                top: -16rem;
            }
            .calories-container {
                gap: 0;
                position: absolute;
                bottom: 0;
                left: -100%;
                z-index: 200;
                & > div {
                    flex: 1;
                }
                .calories-container-image {
                    img {
                        height: 6rem;
                        width: 4rem;
                    }
                }
            }
        }
    }
}
// @keyframes fadein {
//     to {
//         top: 0;
//     }
// }
