@import "../index.scss";
.plans__container {
    // margin: 2rem 0;
    display: grid;
    gap: 2rem;
    .plans__container__header {
        gap: 0.5rem;
        display: grid;
        justify-content: center;
        text-align: center;
        & > span {
            font-size: 2.5rem;
            -webkit-text-stroke: 1px white;
        }
    }
    .plans__container__cards {
        display: grid;
        gap: 2rem;
        padding: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 18rem));
        justify-content: center;
        & > div:nth-child(1) {
            // margin-right: 0;
        }
        & > div:nth-child(2) {
            scale: 1.05;
            background: linear-gradient(
                180deg,
                rgb(254, 69, 27) 0%,
                rgba(252, 176, 69, 1) 100%
            );

            & :nth-child(1) {
                fill: white;
            }
            button {
                color: $orange;
            }
        }
        & > div:nth-last-child(1) {
            // margin-left: 0;
        }
        .plans__container__cards__card {
            border-radius: 10px;

            margin: 0 auto;
            display: grid;
            gap: 2rem;
            padding: 2rem;
            background-color: $caloryCard;
            max-width: 15rem;
            &.center-item {
                grid-column: span 2;
                justify-self: center;
            }
            button {
                color: black;
                background-color: white;
                border: none;
            }

            & :nth-child(1) {
                width: 30px;
                height: 30px;
                fill: $orange;
            }
            & > :nth-child(2) {
                font-weight: 600;
            }
            & > :nth-child(3) {
                font-size: 3rem;
                font-weight: 600;
            }
            & > :nth-child(4) {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                span {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    line-height: 2rem;
                    gap: 1rem;
                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            & > :nth-child(5):after {
                content: " ->";
            }
        }
    }
}

@media (min-width: 1024px) {
    .plans__container {
        .plans__container__cards {
            // margin: auto;
            // max-width: 1024px;
        }
    }
}
